<nz-breadcrumb>
  <nz-breadcrumb-item>Dịch vụ nước sạch</nz-breadcrumb-item>
  <nz-breadcrumb-item>Chỉnh sửa</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="inner-content">
  <nz-tabset>
    <nz-tab nzTitle="Thông tin">
      <form class="mb-1" [formGroup]="form">
        <fieldset class="form-group">
          <label> Tên dịch vụ (bắt buộc)</label>
          <input
            nz-input
            formControlName="tenDichVu"
            [ngStyle]=" {'border-color': (form.controls['tenDichVu'].errors?.['required'] && (form.controls['tenDichVu'].touched || submitted)) ? '#ff4d4f' : '' }"
          />
          <span
            nz-typography
            nzType="danger"
            *ngIf="form.controls['tenDichVu'].errors?.['required'] && (form.controls['tenDichVu'].touched || submitted)"
            >Trường này không được bỏ trống</span
          >
        </fieldset>
        <fieldset class="form-group">
          <label>Ghi chú</label>
          <textarea rows="3" nz-input formControlName="ghiChu"></textarea>
        </fieldset>
      </form>
      <div class="d-flex justify-content-end">
        <button
          nz-button
          nzType="primary"
          class="mr-1"
          (click)="submitDichVu()"
        >
          Lưu thông tin
        </button>
        <button nz-button routerLink="/service-management" nzType="default" nz>
          Quay lại
        </button>
      </div></nz-tab
    >
    <nz-tab nzTitle="Bảng giá hiện tại">
      <button nz-button (click)="addRow()" nzType="primary">
        Thêm mức giá
      </button>
      <br />
      <br />
      <nz-table
        #editRowTable
        nzBordered
        [nzData]="listOfData"
        [nzScroll]="{ y: '250px' }"
        nzShowPagination="false"
      >
        <thead>
          <tr>
            <th nzWidth="18%">Mức nước bắt đầu (m3)</th>
            <th nzWidth="18%">Đơn giá (VNĐ/m3)</th>
            <th nzWidth="50%">Ghi chú</th>
            <th class="text-center">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of editRowTable.data" class="editable-row">
            <td>
              <nz-input-number
                [(ngModel)]="data.gioiHan"
                [nzMin]="0"
                [nzStep]="1"
                nz-input
                (nzBlur)="data.gioiHan = numberFilter(data.gioiHan)"
              ></nz-input-number>
            </td>
            <td>
              <nz-input-number
                [(ngModel)]="data.donGia"
                [nzMin]="0"
                [nzStep]="1"
                nz-input
                (nzBlur)="data.donGia = numberFilter(data.donGia)"
              ></nz-input-number>
            </td>
            <td>
              <textarea rows="1" [(ngModel)]="data.ghiChu" nz-input></textarea>
            </td>
            <td class="text-center">
              <button
                nz-button
                nzType="primary"
                nzDanger
                (click)="deleteRow(data.id)"
                nz-tooltip
                nzTooltipTitle="Xóa"
              >
                <span nz-icon nzType="delete"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <br />
      <div class="d-flex justify-content-end">
        <button
          nz-button
          nzType="primary"
          class="mr-1"
          (click)="submitBangGia()"
        >
          Lưu bảng giá
        </button>
        <button nz-button routerLink="/service-management" nzType="default" nz>
          Quay lại
        </button>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Bảng giá cũ">
      <nz-table
        #editRowTable1
        nzBordered
        [nzData]="listOfData1"
        [nzPageSize]="5"
      >
        <thead>
          <tr>
            <th nzWidth="20%">Mã</th>
            <th nzWidth="50%">Ngày tạo</th>
            <th class="text-center">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of editRowTable1.data" class="editable-row">
            <td>
              {{ data.id }}
            </td>
            <td>
              {{ data.ngayTao }}
            </td>
            <td class="text-center">
              <button
                nz-button
                nzType="primary"
                nz-tooltip
                nzTooltipTitle="Chi tiết"
                (click)="showModal(data.id)"
              >
                <span nz-icon nzType="eye"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <nz-modal
        [(nzVisible)]="isVisible"
        nzTitle="Chi tiết bảng giá"
        [nzOkText]="null"
        nzClosable="false"
        nzCancelText="Đóng"
        (nzOnCancel)="isVisible = false"
        nzWidth="900px"
      >
        <ng-container *nzModalContent>
          <nz-table
            #editRowTable2
            nzBordered
            [nzData]="listOfData2"
            [nzScroll]="{ y: '250px' }"
            nzShowPagination="false"
          >
            <thead>
              <tr>
                <th nzWidth="25%">Mức nước bắt đầu (m3)</th>
                <th nzWidth="25%">Đơn giá (VNĐ/m3)</th>
                <th>Ghi chú</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of editRowTable2.data" class="editable-row">
                <td>
                  {{ data.gioiHan }}
                </td>
                <td>
                  {{ data.donGia }}
                </td>
                <td>
                  {{ data.ghiChu }}
                </td>
              </tr>
            </tbody>
          </nz-table>
        </ng-container>
      </nz-modal></nz-tab
    >
  </nz-tabset>
</div>
